<%- include('header'); -%>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/porucivanje">PORUCIVANJE</a></li>
          <li><a href="/logout">IZLOGUJ SE</a></li>
        </ul>
      </div>
    </div>
  </nav> 
  <div class="container bg-light text-dark">
    <div>
      <h1 class="cover-heading" style="padding-top: 30px;">Vaše narudžbine:</h1> 
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Lokacija</th>
            <th>Opis</th>
            <th>Dužina</th>
            <th>Vreme</th>
            <th>Cena</th>
            <th>Vozilo</th>
            <th>Status</th>
            <th>Akcija</th>
          </tr>
        </thead>
        <% viewModel.forEach(function(model) { %>
          <tr>
            <td><%=model.lokacija%></td>
            <td><%=model.opis%></td>
            <td><%=model.km%> Km</td>
            <td><%=model.vreme%> h</td>
            <td><%=model.cena%> €</td>
            <td><%=model.tipVozila%></td>
            <td><%=model.status%></td>
            <td>
              <a href="izmena_korisnik/<%= model.id %>" id="<%= model.id %>">IZMENA</a>
            </td>
          </tr>
        <%});
        %>
        </table>
    </div>
    <div class="col-sm-12">
      <h1 class="cover-heading" style="padding-top: 30px;">Izračunaj cenu i vreme nove narudžbine:</h1>
      <div class="col-sm-4 col-xs-12">
            <div class="form-group">
              <label for="exampleInput">Odaberite vozilo:</label>
              <select class="form-control" name="vozilo" required id="vozilo">
                  <%vans.forEach(function(van) {%>
                      <option><%=van.TipVozila%></option>
                  <%});
                  %>
              </select>
          </div>
          <div class="form-group">
            <label for="exampleInput">Unesite dužinu:</label>
              <input type="textarea" class="form-control" id="duzina" placeholder="Dužina u km:" name="duzina">
          </div>
          <button id="racunanje" class="btn btn-default" onclick="izracunaj()">Izračunaj</button>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12" style="padding-top: 10px;">
      <table class="table table-bordered">
        <tr>
          <th>Cena porudžbine:</th>
          <td id="cenaPorudzbine"></td>
        </tr>
        <tr>
          <th>Vreme trajanja:</th>
          <td id="vremeTrajanja"></td>
        </tr>
      </table>
    </div>
  </div>
<footer class="container-fluid text-center">
  <a href="#myPage" title="Nazad na vrh">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Vrati se na vrh</p>
</footer>
</body>
</html>
<script>
  function izracunaj(){
    const vozilo=$("#vozilo").val();
    const duzina=parseFloat($("#duzina").val());
    $.ajax({
        type: 'post',
        url: '/pregled2',
        data: { vozilo:vozilo,duzina:duzina },
        cache: false,
        success: function (res) {
          $("#cenaPorudzbine").html(res.cenaPorudzbine)
          $("#vremeTrajanja").html(res.vremeTrajanja)
        }, error: function (err) {
            alert(err);
        }
    });
  }
</script>