<%- include('header'); -%>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">IZLOGUJ SE</a></li>
        </ul>
      </div>
    </div> 
  </nav>
  <h1 class="cover-heading" style="padding-top: 30px;">Sve narudžbine:</h1>  
  <div class="container bg-light text-dark">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Lokacija</th>
        <th>Opis</th>
        <th>Dužina</th>
        <th>Vreme</th>
        <th>Cena</th>
        <th>Vozilo</th>
        <th>Status</th>
        <th>Akcija</th>
      </tr>
    </thead>
      <tr>
        <% viewModel.forEach(function(model) { %>
          <tr>
            <td><%=model.id%></td>
            <td><%=model.lokacija%></td>
            <td><%=model.opis%></td>
            <td><%=model.km%> Km</td>
            <td><%=model.vreme%></td>
            <td><%=model.cena%> €</td>
            <td><%=model.tipVozila%></td>
            <td><%=model.status%></td>
            <td>
              <a href="izmena_vozac/<%= model.id %>" id="<%= model.id %>">IZMENA</a>
            </td>
          </tr>
        <%});
        %>
    </table>
</div>
<footer class="container-fluid text-center">
  <a href="#myPage" title="Nazad na vrh">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Vrati se na vrh</p>
</footer>
</body>
</html>